#about,
#skills,
#projects,
#contact {
    scroll-margin-top: 80px;
}
/* Header component css */
.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* position:fixed; */
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1b1a2ea9 ;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
    z-index: 1000;
}
.logo{
    font-size: 24px;
    color: #c770f0;
}
.btn-1{
    background-color: #8712bd;
    padding: 10px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}
.btn-1:hover{
    background-color: #b937f5;
}
.navlinks {
    position: static;
    display: flex;
    align-items: center;
    gap: 20px;
}  
.navlinks ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.navlinks ul li a:hover{
    color: #facc15;
}
.open-btn, .close-btn {
  display: none;
}
/* --- media quary */
@media (max-width: 768px) {
    /* hamburger button */
    .open-btn {
        display: block;
        font-size: 26px;
        background: none;
        border: none;
        cursor: pointer;
    }
    /* slide menu */
    .navlinks {
        position: fixed;
        display: block;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #111;
        color: white;
        padding: 20px;
        gap: 0;
        transition: left 0.3s ease;
    }
    .navlinks ul {
        flex-direction: column;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .navlinks li {
        margin-bottom: 20px;
    }
    /* close button */
    .close-btn {
        float: right;
        display: block;
        font-size: 22px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
    .btn-1{
        max-width: 200px;
    }
  }
  
/*----------- Container component css ------------------*/
.main-container{
    width: 80%;
    /* border: 1px solid red; */
}
/* -----------About section css ---------*/
.about-container{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 140px 10px;
    max-width: 1100px;
    margin: 0 auto 0 auto;
    /* border: 1px solid red; */
}
.about-col1{
    flex: 1;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}
.about-img{
    width: 350px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.about-col2{
    flex: 1;
    text-align: left;
}
.about-col2 h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #aaa;
}
.about-content p {
    font-size: 18px;
    line-height: 1.7;
    color: #aaa;
    /* color: #555; */
}
.highlight {
    color: #facc15; 
    font-weight: 600;
}

/*----- media quary forResponsive about -------*/

@media (max-width: 768px) {
    .about-container {
      flex-direction: column-reverse;
      text-align: center;
      padding-top: 40px;
    }
    .about-col2 h1 {
        font-size: 28px;
    }
    .about-content p {
        font-size: 14px;
    }
    .about-col2 {
      text-align: center;
    }
  
    .about-image {
      width: 260px;
    }
  }
/* ----------- Skill Container component css---------- */

.skill-container {
    padding: 80px 20px;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/* Heading center */
.skill-head {
    text-align: center;
    margin-bottom: 50px;
}  
.project-heading {
    color: #aaa;
    font-size: 36px;
    font-weight: 700;
}  
/* Skill grid box div*/
.skill-box {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}
/* Grid behaves like table */
.skill-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: auto auto auto; */
    gap: 30px;
    width: 100%;
    max-width: 900px;
    padding: 20px 0;
}
/* icon box */
.tech-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 48px;
    border-radius: 16px;
    /* background: #111; */
    color: #facc15;
    border: 1px solid rgba(200, 137, 230, 0.637);
    transition: all 0.3s ease;
}
  
/* Hover effect */
.tech-icons:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    color: #facc15;
}  

/*Responsive for the tech-icons resposive css  */

/*  3 per row */
@media (max-width: 1024px) {
    .skill-row {
      grid-template-columns: repeat(3, 1fr);
    }
}  
/* Mobile (2 per row) */
@media (max-width: 768px) {
    .skill-row {
      grid-template-columns: repeat(2, 1fr);
    }
    .project-heading {
      font-size: 30px;
    }
}
  
/* Small Mobile (1 per row) */
@media (max-width: 480px) {
    .skill-row {
      grid-template-columns: 1fr;
    }
  
    .tech-icons {
      height: 100px;
      font-size: 40px;
    }
}
  
/* -----------Project Container css ---------- */
.project-container{
    padding: 10px 20px;
    max-width: 1100px;
    margin: 0 auto;
    z-index: 1;
    /* border: 1px solid yellow; */
}
.project-head {
    color: #aaa;
    text-align: center;
    margin-bottom: 50px;
} 
.project-box {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}
/* Grid behaves like table */
.project-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    /* max-width: 1000px; */
    padding: 20px 0;
}
.project-card {
    color: #fff;
    border-radius: 16px;
    /* border: 1px solid rgba(200, 137, 230, 0.637); */
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) ;
    background-color: transparent ;
    opacity: 0.9 ;
    transition: all 0.5s ease 0s ;
    padding: 40px 25px;
}
.project-card:hover {
    transform: scale(1.02);
    overflow: hidden ;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
}
.project-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    color: #facc15;
}
.project-des{
    padding: 10px 0;
    color: #aaa;
}
.project-des p{
    font-size: 16px;
    line-height: 1.4;
}
.project-links{
    display: flex;
    justify-content: space-around;
}

/*  2 per row */
@media (max-width: 1024px) {
    .project-row {
      grid-template-columns: repeat(2, 1fr);
    }
}  
/* Mobile (1 per row) */
@media (max-width: 768px) {
    .project-row {
        grid-template-columns: repeat(1, 1fr);
      }
}

/* ------Contact component css */

.contact-container {
    padding: 20px 20px 80px 20px;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/* Heading center */
.contact-head {
    text-align: center;
    margin-bottom: 50px;
}  
.contact-heading {
    font-size: 36px;
    font-weight: 700;
}  
.contact-content{
    display: flex;
    justify-content: center;
}
.contact-form{
    width: 100%;
    max-width: 600px;
    background: transparent;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
}
.form-group {
    margin-bottom: 20px;
}

/* Inputs & Textarea */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px 16px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(200, 137, 230, 0.637);
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #aaa;
}

/* Focus Effect */
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #facc15;
    box-shadow: 0 0 0 1px rgba(250, 204, 21, 0.5);
}

/*  send meassage  Button */
.send-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    background-color: #8712bd;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.send-btn:hover {
    background-color: #b937f5;
    transform: translateY(-2px);
}
.media-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
}

/* Icon Button */
.media-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #facc15;
    border: 1px solid rgba(200, 137, 230, 0.637);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.media-icon:hover {
    color: #fff;
    background-color: #8712bd;
    /* transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35); */
}


/* --responsive Contact form css */

@media (max-width: 768px) {
    .contact-heading {
        font-size: 30px;
    }

    .contact-form {
        padding: 30px 20px;
    }
    .media-links {
        gap: 18px;
        margin-top: 30px;
    }
    .media-icon {
        width: 48px;
        height: 48px;
        font-size: 22px;
    }
}


/* -------footer component css */
.footer-container{
    /* border: 1px solid green; */
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(200, 137, 230, 0.3);
    background-color: #1b1a2ea9 ;
}
.footer-container p{
    font-size: 14px;
    color: #cfcfcf;
    letter-spacing: 0.5px
}
.f-name{
    color: #facc15;
    font-weight: 600;
}