/* Google fonts for fontfamily Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato,sans-serif;
  scroll-behavior: smooth;
}
.cont{
  /* width: 100%; */
  /* height: 100vh; */
  /* background-image: linear-gradient(to bottom left, rgba(17,16,16,0.582),rgba(12,8,24,0.904)); */
  /* background-image: linear-gradient(to bottom left, rgba(66, 13, 13, 0.582),rgba(12,8,24,0.904)); */
  /* background-color: #121212; */
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
  color: #fff;
}